{% extends 'base_partials/base_login.html' %}
{% block container %}
    <form class="user" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="text-secondary text-xs">Usuario</label>
            <input type="text" class="form-control" placeholder="Usuario" name="username" autofocus required>
        </div>
        <div class="form-group">
            <label class="text-secondary text-xs">Contraseña</label>
            <input type="password" class="form-control" placeholder="Contraseña" name="password" required>
        </div>
        {% for message in messages %}
            <div class="alert alert-danger animate">
                <span class="body-message">{{ message|safe }}</span>
            </div>
        {% endfor %}
        <button class="btn btn-primary form-control" id="botonEnviarLogin"> Ingresar </button>
    </form>
{% endblock %}
